<div class="jumbotron" id="sessions-as-therapist">
    <h1><%= @sessions_as_therapist %></h1>
    <p>sessions as THERAPIST</p>
</div>
<div class="jumbotron" id="sessions-as-patient">
    <h1><%= @sessions_as_patient %></h1>
    <p>sessions as PATIENT</p>
</div>
<table class="table">
    <thead>
      <tr>
        <th id="name-label"><p>Supervisor</p></th>
        <th></th>
        <th id="times-label"><p># Times</p></th>
      </tr>
    </thead>
    <tbody>
      <% @supervisor_vs_times.each do |supervisor, times| %>
      <tr>
        <td><%= supervisor %></td>
        <td></td>
        <td><%= times %></td>
      </tr>
      <% end %>
    </tbody>
</table>
