<div class="jumbotron" id="sessions-as-therapist">
    <h1><%= @sessions_as_therapist %></h1>
    <p>sessions as THERAPIST</p>
</div>
<div class="jumbotron" id="sessions-as-patient">
    <h1><%= @sessions_as_patient %></h1>
    <p>sessions as PATIENT</p>
</div>
