/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require_self
 *= require custom
 */
#presentation {
    width: 43%;
    float: left;
    text-align: center;
}

footer {
    float: right;
    margin-right: 6%;
}

#loginform {
    width: 55%;
    float: right;
}

#mainave {
    font-size: 142.8571429%; /* (20px/14px)*100 */
}

.alert, .notice {
  border: none;
}

.margsupbtn {
    margin: 2% 0 0 0;
}
