/* Layout */

footer {
    float: right;
}

#logo {
    font-size: 285.714285714%; /* (40px/14px)*100 */
}

#mainave {
    font-size: 142.8571429%; /* (20px/14px)*100 */
    float:right;
}

#welcome-msg {
    color: #1069B6;
    font-weight: bold;
    &:hover {
        color: #1069B6;
    }
}

#welcome-msg-btn {
    color: #1069B6;
    font-weight: bold;
    margin: 0 0 0 0;
    font-size: 142.8571429%; /* (20px/14px)*100 */
    &:hover {
        color: #1069B6;
    }
}

.navbar.navbar-default {
    border: none;
}

.alert, .notice {
  border: none;
}

/* General */

.margsupbtn {
    margin: 20px 0 0 0;
}

.field_with_errors {
    display: inline;
}

/* Sign in page */

#presentation {
    width: 43%;
    float: left;
    text-align: center;
}

#loginform {
    width: 55%;
    float: right;
}

/* Preferences page */

::-webkit-input-placeholder { /* Chrome, Safari */
   font-size: 80%;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 80%;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 80%;
}

:-ms-input-placeholder {  /* Internet Explorer */
   font-size: 80%;
}

/* Student's home page */

#sessions-as-therapist, #sessions-as-patient  {
    width: 49%;
    font-weight: bold;
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
}

#sessions-as-therapist {
    float: left;
}

#sessions-as-patient {
    float: right;
}

#name-label, #times-label {
    padding: 0;
    p {
        font-size: 146%;
        font-weight: bold;
        text-transform:uppercase;
        padding: 0;
        margin-bottom: 0;
    }
}

#name-label {
    width: 49%;
}

#times-label {
    width: 49%;
}

#button-to-add {
    float: right;
    font-weight: bold;
}

/* < 768px */

@media screen and (max-width: 767px) {

    /* Layout */

    footer {
        float: none;
    }

    #mainave {
        float: none;
    }

    #welcome-msg {
        display: none;
    }

    /* Sign in page */

    #presentation {
        width: 100%;
        float: none;
    }

    #loginform {
        width: 100%;
        float: none;
    }

}
