/* Layout */

footer {
    float: right;
}

#logo {
    font-size: 285.714285714%; /* (40px/14px)*100 */
}

#mainave {
    font-size: 142.8571429%; /* (20px/14px)*100 */
    float:right;
}

#welcome-msg {
    color: #1069B6;
    font-weight: bold;
    &:hover {
        color: #1069B6;
    }
}

#welcome-msg-btn {
    color: #1069B6;
    font-weight: bold;
    margin: 0 0 0 0;
    font-size: 142.8571429%; /* (20px/14px)*100 */
    background-color: #dddddd;
    outline-color: #1069B6;
    &:hover {
        color: #1069B6;
    }
    &.collapsed {
        outline-color: #1069B6;
    }
}

.navbar.navbar-default {
    border: none;
}

.alert, .notice {
  border: none;
}

/* General */

.marg-sup-btn {
    margin-top: 20px;
}

.field_with_errors {
    display: inline;
}

label {
    display: inline;
}

/* Sign in page */

#presentation {
    width: 43%;
    float: left;
    text-align: center;
}

#loginform {
    width: 55%;
    float: right;
}

/* Preferences page */

::-webkit-input-placeholder { /* Chrome, Safari */
   font-size: 80%;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 80%;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 80%;
}

:-ms-input-placeholder {  /* Internet Explorer */
   font-size: 80%;
}

/* Student's home page */

a.confirmed, a.pending, a.canceled {
    text-decoration: none;
}

.confirmed {
    color: #006600;
    &:hover {
        color: #006600;
    }
    &#sessions-count-btn {
        background-color: #dff0d8;
        outline-color: #dff0d8;
        &.navbar-toggle {
            outline-color: #006600;
            &.collapsed {
                outline-color: #006600;
            }
        }
    }
}

.pending {
    color: #FFCC00;
    &:hover {
        color: #FFCC00;
    }
    &#sessions-count-btn {
        background-color: #fcf8e3;
        outline-color: #fcf8e3;
        &.navbar-toggle {
            outline-color: #FFCC00;
            &.collapsed {
                outline-color: #FFCC00;
            }
        }
    }
}

.canceled {
    color: #CC0000;
    &:hover {
        color: #CC0000;
    }
    &#sessions-count-btn {
        background-color: #f2dede;
        outline-color: #f2dede;
        &.navbar-toggle {
            outline-color: #CC0000;
            &.collapsed {
                outline-color: #CC0000;
            }
        }
    }
}

#number-sessions-confirmed {
    font-size: 500%;
    line-height: 100%;
}

#sessions-as-therapist, #sessions-as-patient  {
    width: 49%;
    font-weight: bold;
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
}

#sessions-as-therapist {
    float: left;
}

#sessions-as-patient {
    float: right;
}

#name-label, #times-label {
    padding: 0;
    p {
        font-size: 146%;
        font-weight: bold;
        text-transform:uppercase;
        padding: 0;
        margin-bottom: 0;
    }
}

#name-label {
    width: 49%;
}

#times-label {
    width: 49%;
}

#name-value {
    text-align:left;
    font-size: 120%;
}

.success.confirmed, .warning.pending, .danger.canceled {
    vertical-align: middle;
    text-align:center;
    font-weight: bold;
    font-size: 146%;
}

#button-to-add {
    float: right;
    font-weight: bold;
}

/* Sessions index */

.sessions-by-date {
    padding: 0 0 0 38px;
}

#date-detail, #state-detail, #sessions-index-msg  {
    color: #1069B6;
    font-weight: bold;
    &:hover {
        color: #1069B6;
    }
}

#state-detail  {
    text-transform: capitalize;
}

#people-column, {
    width: 100%;
    font-size: 120%;
    li {
        padding: 5px;
    }
}

#edit-btn {
    padding: 7.5px 15px 7.5px 0;
}

#sessions-count-btn {
    font-weight: bold;
    margin: 0 0 0 0;
}

.breadcrumb {
    text-align: center;
}

/* Edit session page */

#destroy-btn {
    display: inline-block;
    margin-left: 20px;
    background-color: #CC3300;
    border-color: #CC0000;
    background-image: none;
}

/* < 768px */

@media screen and (max-width: 767px) {

    /* Layout */

    footer {
        float: none;
    }

    #mainave {
        float: none;
    }

    #welcome-msg {
        display: none;
    }

    /* General */

    h2 {
        text-align: center;
    }

    /* Sign in page */

    #presentation {
        width: 100%;
        float: none;
    }

    #loginform {
        width: 100%;
        float: none;
    }
}
