/* Layout */

footer {
    float: right;
}

#mainave {
    font-size: 142.8571429%; /* (20px/14px)*100 */
}

.alert, .notice {
  border: none;
}

/* General */

.margsupbtn {
    margin: 2% 0 0 0;
}

.devise-error-messages {
    color: red;
    font-size: 100%;

}

/* Sign in page */

#presentation {
    width: 43%;
    float: left;
    text-align: center;
}

#loginform {
    width: 55%;
    float: right;
}

/* < 768px */

@media screen and (max-width: 768px) {

    /* Layout */

    footer {
        float: none;
    }

    /* Sign in page */

    #presentation {
        width: 100%;
        float: none;
    }

    #loginform {
        width: 100%;
        float: none;
    }

}
