<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar tu contraseña, lo que se puede realizar con el siguiente enlace:</p>

<p><%= link_to "Cambiar mi contraseña", edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si tú no lo has solicitado, por favor ignora este correo electrónico.</p>
<p>Tu contraseña no será cambiada hasta que accedas el enlace y crees una nueva.</p>
